/* You can add global styles to this file, and also import other style files */

html,
body {
  /* padding-top: 64px; */
  font-family: Roboto, "Helvetica Neue", sans-serif;
  overflow-x: hidden;
}

.hidden {
  display: none;
}

.cursor-pointer {
  cursor: pointer;
}

.margin {
  margin: 0 400px;
  margin-top: 0px ;
  margin-bottom: 100px;

}

.marginMeassage {
  margin-left: 40%;
  margin-bottom: 20px;
}

mat-progress-spinner {
  margin: 0 auto;
  display: block;
}
